---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <h1>{{ post.title }}</h1>
  <ul>
    {% for category in post.categories | sort(false, false, 'weight') %}
      <li>{{category.title}}</li>
    {% endfor %}
  </ul>
  <p>Scritto da {% for author in post.authors %}<a href="/authors/{{author.slug.current}}">{{author.name}}</a>{% endfor %}  </p>
  {{ post.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
